
@{
    ViewBag.Title = "SpecialDoctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="middle" style="text-align:center;">Special Doctors</h3>
<center>
    <table>
        <tr>
            <td style="text-decoration:underline;">@Html.ActionLink("Reports", "ExpiringCMNs", "ExpiringCMNs", null, null) </td>
            <td>|</td>
            <td style="text-decoration:underline;">@Html.ActionLink("Rules", "Rules", "Rules", null, null) </td>
        </tr>
    </table>
</center>

