<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- Production configuration -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jbmmisql002;initial catalog=HHSQLDB;user id=sqlappuser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jbmmisql002;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntitiesTest" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jbmmisql002;initial catalog=Intranet;persist security info=True;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!-- Uncomment for test configuration -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=HHSQLDB_Pharmacy;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntitiesTest" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=Intranet;persist security info=True;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
	<!-- Uncomment for Dev configuration -->
	<!--<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
		<add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=HHSQLDB;user id=sqlappuser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IntranetEntitiesTest" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=Intranet;persist security info=True;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>-->
	<!-- Uncomment for Azure Dev configuration -->
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
		<add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=HHSQLDB;user id=sqlappuser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="IntranetEntitiesTest" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=Intranet;persist security info=True;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>