@using Kendo.Mvc.UI
@{
    /**/

    ViewBag.Title = "Cancel Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/spin.min.js"></script>
<style type="text/css">
    #loading {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 1000;
    }

    #loadingcontent {
        display: table;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #loadingspinner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: larger;
        padding-top: 80px;
    }
</style>
<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Please wait, Upload file is in progress...
        </p>
    </div>
</div>
<h1 style="margin-left:25px;text-decoration:underline">Cancel Orders</h1>
@using (Html.BeginForm("CancelOrders", "ManageOrder", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal",id ="cancelform" }))
{ 
        <h3 style="color:green;margin-left:50px" id="successMsg"></h3>    
    
        <h3 style="color:red;margin-left:50px" id="errorMsg"></h3>
     

    <p>&nbsp;</p>
    <div class="container-fluid">


        <div class="form-group">
            <label class="control-label col-sm-2">Upload Cancel Order file:</label>
            <div class="col-sm-10">
                <input type="file" id="file" name="file" />
            </div>
            <br />
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"> Cancel Note: </label>
            <div class="col-sm-10">
                <input type="text" name="Note" id="Note" />


            </div>
            <br />
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" onclick="confirmUpload()">Submit</button>
                &nbsp; &nbsp; &nbsp;<p>
                    <b> Important Note : Please use this upload functionality Only to Cancel Orders.</b>
                </p>
            </div>

        </div>
        <button type="button" id="btnExport" style="display:none;" class="btn btn-primary" onclick="exportTableToExcel('ExcludedWorkorders', 'ExcludedWorkorders')">Export to excel</button>
        <div style="display:none;" id="excludeGrid">
            <table>
                <tr>
                    <td>
                        <span><strong style="text-decoration-line: underline;">Excluded Workorders:</strong></span>
                        <br />
                        <div id="ExcludedWorkorders">

                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
}



    <script type="text/javascript">
        var opts = {
            lines: 12, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false // Whether to use hardware acceleration
        };
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
        $(document)
            .ajaxStart(function () {
                $('#successMsg').html('');
                $('#errorMsg').html('');
                
                $("#loading").fadeIn();
            })
            .ajaxStop(function () {
                $("#loading").fadeOut();
            });

        function confirmUpload() {
             
            if (confirm("Are you sure you want CANCEL ORDERS")) {
                SubmitButtonOnclick();
               // $("#cancelform").submit();
            } else {
                
            }
             
        }

        function exportTableToExcel(tableID, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            // Opera 8.0+
            var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;

            // Firefox 1.0+
            var isFirefox = typeof InstallTrigger !== 'undefined';

            // Safari 3.0+ "[object HTMLElementConstructor]"
            var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

            // Internet Explorer 6-11
            var isIE = false || !!document.documentMode;

            // Edge 20+
            var isEdge = !isIE && !!window.StyleMedia;

            // Chrome 1 - 79
            var isChrome = !!window.chrome && (!!window.chrome.webstore || !!window.chrome.runtime);

            //alert(isChrome);
            //alert(isEdge);
            //alert(isIE);
            if (isChrome) {
                var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
            }
            else if (isEdge) {
                var tableHTML = tableSelect.outerHTML.replace(/#/g, '%23');
            }
            else {
                var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
            }
            // Specify file name
            filename = filename ? filename + '.xls' : 'excel_data.xls';
            // Create download link element
            downloadLink = document.createElement("a");
            document.body.appendChild(downloadLink);
            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                // Setting the file name
                downloadLink.download = filename;
                //triggering the function
                downloadLink.click();
            }
        }
            function SubmitButtonOnclick()
            {
               
              //  e.preventDefault(); // stop the standard form submission

               
                var formData= new FormData();
                var file = document.getElementById("file").files[0];
                var note = document.getElementById("Note").value; 
                formData.append("file", file);
                formData.append("Note", note);

                
                $.ajax({
                    url: '@Url.Action("CancelOrders", "ManageOrder", new { Area = "Reports" })',
                    type: "POST",
                    contentType: false, // Not to set any content header  
                    processData: false, // Not to process data  
                    data: formData,
                    success: function (result) { 
                        $("#loading").fadeOut();
                         
                        if (result.Success) {
                            var $el = $('#file');
                            $el.wrap('<form>').closest('form').get(0).reset();
                            $('#cancelform')[0].reset();
                            $el.unwrap();
                            $('#successMsg').html(result.Message);
                            if (result.ExcludedData.length > 0) {
                                alert(result.ExcludedData.length);
                                var html = '<table class="table table-striped" border="1">';
                                html += '<thead>';
                                html += '<tr>';
                                html += '<th>Work Order</th>';
                                html += '<th>Account</th>';
                                html += '<th>Reason</th>';
                                html += '</tr>';
                                html += '</thead>';
                                html += '<tbody>';
                                var flag = 0;
                                $.each(result.ExcludedData, function (index, value) {
                                    html += '<tr>';
                                    $.each(value, function (index2, value2) {
                                        html += '<td>' + value2 + '</td>';
                                    });
                                    html += '</tr>';
                                });
                                html += '</tbody>';
                                html += '</table>';
                                $('#ExcludedWorkorders').html(html);
                                $('#btnExport').css('display', 'inline');
                                $('#excludeGrid').css('display', 'inline');
                            }
                            
                        } else {
                            $('#errorMsg').html(result.Message);
                        }
                    },
                    error: function (err) {
                        $('#errorMsg').html('Error Uploading File');
                    }
                }); 
            }


    </script>