@model USPS_Report.Areas.Reports.Models.CSRComplaintVM

<br />

@*@using (Html.BeginForm("UploadReferral", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{*@
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>  Upload File </label>
        </div>
        <div class="col-md-2">
            <input type="file" id="file" name="file" />
        </div>
    </div>
    <br />
    @*<div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label> </label>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>
    <br />*@
@*}*@

