@model USPS_Report.Areas.Reports.Models.CSRComplaintVM

<br />



<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-2">@Html.CheckBoxFor(m => m.ImpoliteORoffensive) <label> Impolite/Offensive
 </label></div>

</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-2">@Html.CheckBoxFor(m => m.HoldTimes) <label> Hold Times
 </label></div>

</div>




<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">@Html.TextAreaFor(m => m.CustomerServiceTextArea, new { rows = "6", cols = "40", disabled = "disabled" })</div>

</div>


<script>
    $('#ImpoliteORoffensive').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#CustomerServiceTextArea').removeAttr("disabled");
        } else {
            $('#CustomerServiceTextArea').attr("disabled", "disabled")
        }
    });

    $('#HoldTimes').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#CustomerServiceTextArea').removeAttr("disabled");
        } else {
            $('#CustomerServiceTextArea').attr("disabled", "disabled")
        }
    });
</script>

