@model USPS_Report.Areas.Reports.Models.CSRComplaintVM

<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class=" col-md-2">@Html.TextAreaFor(m => m.Others, new { rows = "6", cols = "40" })</div>

</div>