@model USPS_Report.Areas.Reports.Models.CallLogVM


<div>

    <div class=" row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><strong>Transferred Call</strong></div>
    </div>

    <div class=" row">
        <div class="col-md-1"></div>
        <div class="col-md-3">@Html.CheckBoxFor(m => m.Re_NewAccountsTeam) <label>  New Account Team</label></div>
      
    </div>


    <div class=" row">
        <div class="col-md-1"></div>
        <div class="col-md-3">@Html.CheckBoxFor(m => m.Re_SuppliesNotAvailable) <label> Supplies not available through insurance/J&B? </label></div>
       
    </div>

   

    <div class=" row">
        <div class="col-md-1"></div>
        <div class="col-md-3">@Html.CheckBoxFor(m => m.ReOther) <label>  Other:</label></div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.ReOtherTxt, new { disabled = "disabled" })

    </div>
</div>


</div>

