@model USPS_Report.Areas.Reports.Models.CSRComplaintVM

<br />


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1">
        <label>  Resolution </label>
    </div>
    <div class="col-md-2">
        @Html.TextAreaFor(m => m.Resolution, new { rows = "6", cols = "40" })
    </div>
</div>
<br />




