@model USPS_Report.Areas.Reports.Models.CSRComplaintVM

<br />


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <label>  Resolution </label>
    </div>
    <div class="col-md-2">
        @Html.TextBoxFor(m => m.Resolution)
    </div>
</div>
<br />




