@model USPS_Report.Areas.Reports.Models.CallLogVM




<div>
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-4"><strong> *Complete task on CSR Task Tracker </strong></div>
    </div>

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-6">@Html.TextAreaFor(m => m.SampleChoiceCalledInTxt)</div>
    </div>
</div>

