
@{
    ViewBag.Title = "SubmitForm";
    Layout = "~/Areas/Reports/Views/Shared/_noSideBarLayout.cshtml";
}

<h2>Complaint Form has been submitted- Go back to Call Log Form to submit the Information</h2>

