@model USPS_Report.Models.DetailReport
@{
    ViewBag.Title = "GenPdf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.PdfExists == true)
{
<h3 style="color:red">File Already Exists</h3>
}

else
{
    <h3 style="color:blue">File Generated Successfully</h3>
}

