@model USPS_Report.Areas.ColdFusionReports.Models.DataModels.PasswordChange.PasswordChangeVM
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="middle" style="text-align:center;">Reset Password</h3>
<center>
    <div id="divMessage" class="redText">
        @Html.DisplayFor(t => t.Message)
    </div>
</center>
<div>
    @using (Html.BeginForm("PasswordChangeRequest", "PasswordChange", FormMethod.Post))
    {
        <center>
            <table>
                <tr>
                    <td style="text-align:right;">New Password: </td>
                    <td>@Html.PasswordFor(t => t.NewPassword, new { id = "txtPass1" })</td>
                </tr>
                <tr>
                    <td>Confirm Password: </td>
                    <td>
                        @Html.PasswordFor(t => t.ConfirmPassword, new { id = "txtPass2", onKeyUp = "checkPass()" })
                        <br />
                        <span id="confirmMessage" class="confirmMessage"></span>
                    </td>
                </tr>
            </table>
            <br />
            <button id="btnSubmit" class="btn btn-primary btn-large" type="submit">Submit</button>
        </center>
    }
</div>
<script>
    function checkPass() {
        //Store the password field objects into variables ...
        var pass1 = document.getElementById('txtPass1');
        var pass2 = document.getElementById('txtPass2');
        //Store the Confimation Message Object ...
        var message = document.getElementById('confirmMessage');
        //Set the colors we will be using ...
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        //Compare the values in the password field 
        //and the confirmation field
        if (pass1.value == pass2.value) {
            //The passwords match. 
            //Set the color to the good color and inform
            //the user that they have entered the correct password 
            pass2.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            message.innerHTML = "Passwords Match!"
        } else {
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            pass2.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "Passwords Do Not Match!"
        }
    }  
    $('#btnSubmit').click(
        function () {            
            var txtPass1 = document.getElementById("txtPass1");
            var txtPass2 = document.getElementById("txtPass2");
            if (txtPass1.value === txtPass2.value) {

            }
            else {
                alert("Password don't match. Please try again.");
                return false;
            }
        });
</script>

<style>
    .redText {
        color: Red;
    }
</style>
    

