@{
    ViewBag.Title = "AddPermission";
    Layout = "~/Areas/Reports/Views/Shared/_noSideBarLayout.cshtml"; 
    // Layout = "~/Views/Shared/_Layout.cshtml";
}



       <h2 style="color:blue">Request Send Successfully! </h2>
        @*@User.Identity.Name;*@

 