@model USPS_Report.Areas.Reports.Models.GeneratorModel

@{
    ViewBag.Title = "AOBPDFGenerator";
    //  Layout = "~/Areas/Reports/Views/Shared/_ReportLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>AOBPDFGenerator</h2>

