@model USPS_Report.Areas.Reports.Models.GeneratorModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Letter Generator";
    Layout = "~/Areas/Reports/Views/Shared/_noSideBarLayout.cshtml";

    //  Layout = "~/Views/Shared/_Layout.cshtml";
}


<div><h3>Please redirect to: </h3> <a href="http://10.10.1.49/LetterGenerator" target="_blank">Letter Generator</a></div>




<style>
    .modal_style {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        height: 130px;
        text-align: center;
    }

    .modal-val-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        height: 250px;
        text-align: center;
    }

    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: #ffeeee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }


    .editor-label {
        float: left;
        width: 150px;
    }

    .editor-label {
        margin-left: 100px;
    }

    .editor-label1 {
        margin-left: 100px;
    }

    .editor-label1 {
        float: left;
        width: 100px;
    }

    .editor-label2 {
        float: left;
        width: 50px;
    }



    .editor-field {
        margin-left: 5px;
    }

        .editor-field input {
            width: 40px;
        }
</style>



<script>
    var mydragg = function () {
        return {
            move: function (divid, xpos, ypos) {
                divid.style.left = xpos + 'px';
                divid.style.top = ypos + 'px';
            },
            startMoving: function (divid, container, evt) {
                evt = evt || window.event;
                var posX = evt.clientX,
                    posY = evt.clientY,
                    divTop = divid.style.top,
                    divLeft = divid.style.left,
                    eWi = parseInt(divid.style.width),
                    eHe = parseInt(divid.style.height),
                    cWi = parseInt(document.getElementById(container).style.width),
                    cHe = parseInt(document.getElementById(container).style.height);
                document.getElementById(container).style.cursor = 'move';
                divTop = divTop.replace('px', '');
                divLeft = divLeft.replace('px', '');
                var diffX = posX - divLeft,
                    diffY = posY - divTop;
                document.onmousemove = function (evt) {
                    evt = evt || window.event;
                    var posX = evt.clientX,
                        posY = evt.clientY,
                        aX = posX - diffX,
                        aY = posY - diffY;
                    if (aX < 0) aX = 0;
                    if (aY < 0) aY = 0;
                    if (aX + eWi > cWi) aX = cWi - eWi;
                    if (aY + eHe > cHe) aY = cHe - eHe;
                    mydragg.move(divid, aX, aY);
                }
            },
            stopMoving: function (container) {
                var a = document.createElement('script');
                document.getElementById(container).style.cursor = 'default';
                document.onmousemove = function () { }
            },
        }
    }();




    $("#ChkDate").click(function (e) {
        //  alert("checked")

        var OrderDate = $('#DateOfService').val();
        var date = $('#DetailedReciptDate').val();
        //  alert($('#DetailedReciptDate').val());
        var values = date.split("-");
        var values1 = date.split("/");
        var Ordervalues = OrderDate.split("-");
        var Ordervalues1 = OrderDate.split("/");
        // alert("values[0]");
        //  alert(values[0]);
        //  alert("values[1]");
        //  alert(values[1]);
        //  alert("values[2]");
        //  alert(values[2]);
        //   alert("values1[0]");
        //   alert(values1[0]);
        //  alert("values1[1]");
        //  alert(values1[1]);
        //  alert("values1[2]");
        //  alert(values1[2]);



        if (((values[0] >= 1 && values[0] <= 12) || (values1[0] >= 1 && values1[0] <= 12)) && ((values[1] >= 1 && values[1] <= 31) || (values1[1] >= 1 && values1[1] <= 31)) && ((values[2] >= 2000 && values[2] <= 2099) || (values1[2] >= 2000 && values1[2] <= 2099))) {
            // alert("Date is valid");
        }
        else {
            alert("Detailed Receipt Date is not valid, please enter a valid date . ");
            e.preventDefault();
        }
        if (((Ordervalues[0] >= 1 && Ordervalues[0] <= 12) || (Ordervalues1[0] >= 1 && Ordervalues1[0] <= 12)) && ((Ordervalues[1] >= 1 && Ordervalues[1] <= 31) || (Ordervalues1[1] >= 1 && Ordervalues1[1] <= 31)) && ((Ordervalues[2] >= 2000 && Ordervalues[2] <= 2099) || (Ordervalues1[2] >= 2000 && Ordervalues1[2] <= 2099))) {
            // alert("Date is valid");
        }
        else {
            alert("Date of Service / Order is not valid, please enter a valid date . ");
            e.preventDefault();
        }

        // alert("done!");

        //var allok = false;


        //if (!allok) {
        //    e.preventDefault();
        //}

    }
    );


    //$('#DetailedReciptDate').datepicker(
    //      {
    //          changeMonth: true,
    //          changeYear: true
    //      }
    //    );

    var modal = document.getElementById('myModal');

    var ValidateModel = document.getElementById('ValidateTexts');




    $('#editButton').click(function () {

        //   alert("clicked");
        if ($("#TestStripsFrom").val() != '' && $("#TestStripsTo").val() != ''
            && $("#LancetsFrom").val() != '' && $("#LancetsTo").val() != ''
            && $("#SyringesFrom").val() != '' && $("#SyringesTo").val() != ''
            && $("#PenNeedlesFrom").val() != '' && $("#PenNeedlesTo").val() != ''
            && $("#InfusionSetsFrom").val() != '' && $("#InfusionSetsTo").val() != ''
            && $("#PodsFrom").val() != '' && $("#PodsTo").val() != ''
            && $("#ReservoirsFrom").val() != '' && $("#ReservoirsTo").val() != '') {
            modopen();
            if ($("#TestStripsFrom").val() != 0 && $("#TestStripsTo").val() != 0) {
                $("p#TextValues").html('you have entered the below values: ' + '   <br />' + 'Test Strips from ' + $("#TestStripsFrom").val() + ' to ' + $("#TestStripsTo").val());

            }

            if ($("#LancetsFrom").val() != 0 && $("#LancetsTo").val() != 0) {
                $("p#TextValues").append('   <br />' + 'Lancets from ' + $("#LancetsFrom").val() + ' to ' + $("#LancetsTo").val());
            }

            if ($("#SyringesFrom").val() != 0 && $("#SyringesTo").val() != 0) {
                $("p#TextValues").append('   <br />' + 'Syringes from ' + $("#SyringesFrom").val() + ' to ' + $("#SyringesTo").val());
            }

            if ($("#PenNeedlesFrom").val() != 0 && $("#PenNeedlesTo").val() != 0) {
                $("p#TextValues").append('   <br />' + 'PenNeedles from ' + $("#PenNeedlesFrom").val() + ' to ' + $("#PenNeedlesTo").val());
            }

            if ($("#InfusionSetsFrom").val() != 0 && $("#InfusionSetsTo").val() != 0) {
                $("p#TextValues").append('   <br />' + 'InfusionSets from ' + $("#InfusionSetsFrom").val() + ' to ' + $("#InfusionSetsTo").val());
            }

            if ($("#PodsFrom").val() != 0 && $("#PodsTo").val() != 0) {
                $("p#TextValues").append('   <br />' + 'Pods from ' + $("#PodsFrom").val() + ' to ' + $("#PodsTo").val());
            }

            if ($("#ReservoirsFrom").val() != 0 && $("#ReservoirsTo").val() != 0) {
                $("p#TextValues").append('   <br />' + 'Reservoirs from ' + $("#ReservoirsFrom").val() + ' to ' + $("#ReservoirsTo").val());
            }
        }
        else {
            Valopen();
            //alert($("#TestStripsFrom").val());

            //+ ' to ' + $("#TestStripsTo").val());
        }


    })

    function modopen() {
        modal.style.display = "block";
    }
    function Valopen() {
        ValidateModel.style.display = "block";
    }
    function yespop() {

        document.getElementById('check').submit();
    }
    function nopop() {
        modal.style.display = "none";
        ValidateModel.style.display = "none";
    }


    $(document).ready(function () {
        $('#FaxMsg').hide();
        $('#EmailMsg span.field-validation-error').text('')
        $('#EmailMsg').hide();
    }
    )

    $('#FileFax').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {           
                $('#FaxMsg').show();
                $('#FedEx').removeAttr("disabled");  
        } else {
            $('#FaxMsg').hide();
            $('#FedEx').attr("disabled", "disabled")
        }
    });

    $('#English').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#ChineseMsg').hide();
            $('#FileFax').show();
            $('#FileEmail').show();
            $('#spanish').removeAttr('checked');
            $('#chinese').removeAttr('checked');
            $('#russian').removeAttr('checked');
            $('#armenian').removeAttr('checked');
            $('#arabic').removeAttr('checked');
        }  
        enableOtherTxt();
    });

    $('#chinese').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#ChineseMsg').show();
            $('#English').removeAttr('checked');
            $('#spanish').removeAttr('checked');
            $('#russian').removeAttr('checked');
            $('#armenian').removeAttr('checked');
            $('#arabic').removeAttr('checked');
            $('#FileFax').hide();
            $('#FileEmail').hide();
            //  $('#FedEx').removeAttr("disabled");
        } else {
            $('#ChineseMsg').hide();
            $('#FileFax').show();
            $('#FileEmail').show();
        }
        enableOtherTxt();
    });


    $('#spanish').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#ChineseMsg').hide();
            $('#FileFax').show();
            $('#FileEmail').show();
            $('#English').removeAttr('checked');
            $('#chinese').removeAttr('checked');
            $('#russian').removeAttr('checked');
            $('#armenian').removeAttr('checked');
            $('#arabic').removeAttr('checked');
        }
        enableOtherTxt();
    });

    $('#russian').click(function () {
        var $this = $(this);

        if ($this.is(':checked')) {
            $('#ChineseMsg').show();
            $('#English').removeAttr('checked');
            $('#chinese').removeAttr('checked');
            $('#spanish').removeAttr('checked');
            $('#armenian').removeAttr('checked');
            $('#arabic').removeAttr('checked');
            $('#FileFax').hide();
            $('#FileEmail').hide();
            //  $('#FedEx').removeAttr("disabled");
        } else {
            $('#ChineseMsg').hide();
            $('#FileFax').show();
            $('#FileEmail').show();
        }
        enableOtherTxt();
    });

    $('#armenian').click(function () {
        var $this = $(this);
        if ($this.is(':checked')) {
            $('#ChineseMsg').hide();
            $('#English').removeAttr('checked');
            $('#chinese').removeAttr('checked');
            $('#spanish').removeAttr('checked');
            $('#russian').removeAttr('checked');
            $('#arabic').removeAttr('checked');
            $('#FileFax').hide();
            $('#FileEmail').hide(); 
        } else { 
            $('#FileFax').show();
            $('#FileEmail').show();
        }

        enableOtherTxt();
    });

    $('#arabic').click(function () {
        var $this = $(this);
        if ($this.is(':checked')) {
            $('#ChineseMsg').hide();
            $('#English').removeAttr('checked');
            $('#chinese').removeAttr('checked');
            $('#spanish').removeAttr('checked');
            $('#russian').removeAttr('checked');
            $('#armenian').removeAttr('checked');
            $('#FileFax').hide();
            $('#FileEmail').hide();
        } else {
            $('#FileFax').show();
            $('#FileEmail').show();
        }

        enableOtherTxt();
    });

    function enableOtherTxt() {
        var english = $('#English').is(':checked');
        var chinese = $('#chinese').is(':checked');
        var spanish = $('#spanish').is(':checked');
        var russian = $('#russian').is(':checked');
        var armenian = $('#armenian').is(':checked');
        var arabic = $('#arabic').is(':checked');
        if (english || chinese || spanish || russian || armenian || arabic) {
            $("#OtherLanguage").val('').attr("disabled", "disabled");
        }
        else {
            $('#OtherLanguage').removeAttr("disabled");
        }
    }

    $("#OtherLanguage").keyup(function () {


        if ($(this).val() == "" || $(this).val() == null) {
            $('#English').removeAttr('disabled');
            $('#chinese').removeAttr('disabled');
            $('#spanish').removeAttr('disabled');
            $('#russian').removeAttr('disabled');
            $('#armenian').removeAttr('disabled');
            $('#arabic').removeAttr('disabled');
        }
        else {
            $('#English').removeAttr('checked').attr("disabled", "disabled");
            $('#chinese').removeAttr('checked').attr("disabled", "disabled");
            $('#spanish').removeAttr('checked').attr("disabled", "disabled");
            $('#russian').removeAttr('checked').attr("disabled", "disabled");
            $('#armenian').removeAttr('checked').attr("disabled", "disabled");
            $('#arabic').removeAttr('checked').attr("disabled", "disabled");
        }
    });

    $('#FileEmail').click(function () {
        var $this = $(this);
        var email = $('#Email').val().trim();        
      
        if ($this.is(':checked')) {       
            if (email != '' || email != null) {
                if (IsEmail(email)) {
                    $("#Email").removeClass("input-validation-error").addClass("valid");
                    $('#EmailMsg').hide();
                }
                else {
                    $("#Email").addClass("input-validation-error").removeClass("valid");
                    $('#EmailMsg').show();
                }
            }
            else {
                $("#Email").val('');
                $('#EmailMsg').show();
            }
           
            $('#Email').removeAttr("disabled");
        } else {
            $("#Email").removeClass("input-validation-error");
            $('#EmailMsg').hide();
            $('#Email').attr("disabled", "disabled")
        }
    });

    $("#Email").keyup(function () {
        var email = $('#Email').val();
        if (IsEmail(email)) {
            $("#Email").removeClass("input-validation-error").addClass("valid");
            $('#EmailMsg').hide();
        }
        else {
            
            $("#Email").removeClass("valid").addClass("input-validation-error");
            $('#EmailMsg').show();
        }
    });

    function IsEmail(email) { 
      var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      if(!regex.test(email)) {
        return false;
      }else{
        return true;
      }
    }

</script>

