
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span2">
   
</div>

<div class="span10">
    <br />

    <div class="row-fluid">
        @RenderBody()
    </div>
</div>


<style>
    #sidebar {
    height:500px;
    }
</style>

