@model USPS_Report.Areas.Reports.Models.CMNWithDurationReportViewModel
@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "CMNswithDuration99Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="well col-md-12">
        <h2 class="center">CMN's with Duration = 99</h2>
    </div>
    <div id="viewData" class="well col-md-12">
        <div class="col-md-12">
            @(Html.Kendo().Grid<USPS_Report.Areas.Reports.Models.CMNWithDurationReportViewModel>()
                        .Name("ExpiringCMNDetails")
                        .Scrollable()
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Account).Title("Account").Width(200);
                            columns.Bound(c => c.DocType).Title("DocType").Width(200);
                            columns.Bound(c => c.EffectiveDate).Title("EffectiveDate").Width(200);
                            columns.Bound(c => c.Duration).Title("Duration").Width(200);
                        })
                         .ToolBar(tools => tools.Excel())
                            .Sortable()
                             .Pageable()
                                 .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                               .Excel(excel => excel
                                    .FileName("CMNWithDuration99.xlsx")
                                    .AllPages(true)
                                    .Filterable(true)
                                    .ProxyURL(Url.Action("Excel_Export_Save", "CMNswithDuration"))
                                )
                           .HtmlAttributes(new { style = "width:470px;" })
                                .Reorderable(r => r.Columns(true))
                                .Resizable(r => r.Columns(true))
                                .ColumnMenu()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(200)
                            .ServerOperation(false)
                            .Read(read => read.Action("ReadCMNswithDuration99Data", "CMNswithDuration", Model))
                        )
                        .HtmlAttributes(new { style = "height: 350px;" })
            )
        </div>
        @*@Html.Partial("GetExpiringCMNDetails", Model.ExpiringCMNDetails)*@
    </div>
</div>


<style>
    th {
        background-color: dodgerblue;
        color: white;
    }

    .middle {
        margin: auto;
        width: 900px;
    }
</style>



