<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!-- Production configuration -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesOracle1" connectionString="Provider=OraOLEDB.Oracle;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="ReportsDbconnectionstring" connectionString="Data Source = JBMMISQL002; Initial Catalog = Reports; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="CallAgentDbconnectionstring" connectionString="Data Source = JBMMISQL002; Initial Catalog = CallAgentDB; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="ColdFusionReportsDbconnection" connectionString="data source=JBMMISQL002;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=true;" />
    <add name="ColdFusionReportsEntitiesOracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = nchljandbdb01.jandbmedical.com)(PORT = 1541))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = JBTA1)));Provider=OraOLEDB.Oracle;User Id= XXCUST01;Password=XXCUST01;" />
    <add name="ReportsEntities" connectionString="metadata=res://*/Models.ReportDB.csdl|res://*/Models.ReportDB.ssdl|res://*/Models.ReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMISQL002;initial catalog=Reports;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMISQL002;initial catalog=HHSQLDB;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMISQL002;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMISQL002;initial catalog=HHSQLDB;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallAgentDBEntitiesnew" connectionString="metadata=res://*/Models.ModelCallAgent.csdl|res://*/Models.ModelCallAgent.ssdl|res://*/Models.ModelCallAgent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMISQL002;initial catalog=CallAgentDB;persist security info=True;user id=sqlAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFuionHHSQLDBEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.csdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMISQL002;initial catalog=HHSQLDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFusionReportsEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionReports.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMISQL002;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!-- Azure Test configuration -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesOracle1" connectionString="Provider=OraOLEDB.Oracle;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="ReportsDbconnectionstring" connectionString="Data Source = JBMAZSQL04; Initial Catalog = Reports; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="CallAgentDbconnectionstring" connectionString="Data Source = JBMAZSQL04; Initial Catalog = CallAgentDB; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="ColdFusionReportsDbconnection" connectionString="data source=JBMAZSQL04;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=true;" />
    <add name="ColdFusionReportsEntitiesOracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = nchljandbdb01.jandbmedical.com)(PORT = 1541))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = JBTA1)));Provider=OraOLEDB.Oracle;User Id= XXCUST01;Password=XXCUST01;" />
    <add name="ReportsEntities" connectionString="metadata=res://*/Models.ReportDB.csdl|res://*/Models.ReportDB.ssdl|res://*/Models.ReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL04;initial catalog=Reports;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL04;initial catalog=HHSQLDB;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL04;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL04;initial catalog=HHSQLDB;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallAgentDBEntitiesnew" connectionString="metadata=res://*/Models.ModelCallAgent.csdl|res://*/Models.ModelCallAgent.ssdl|res://*/Models.ModelCallAgent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL04;initial catalog=CallAgentDB;persist security info=True;user id=sqlAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFuionHHSQLDBEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.csdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL04;initial catalog=HHSQLDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFusionReportsEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionReports.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL04;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!-- Azure Dev configuration -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesOracle1" connectionString="Provider=OraOLEDB.Oracle;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="ReportsDbconnectionstring" connectionString="Data Source = JBMAZSQL05; Initial Catalog = Reports; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="CallAgentDbconnectionstring" connectionString="Data Source = JBMAZSQL05; Initial Catalog = CallAgentDB; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="ColdFusionReportsDbconnection" connectionString="data source=JBMAZSQL05;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=true;" />
    <add name="ColdFusionReportsEntitiesOracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = nchljandbdb01.jandbmedical.com)(PORT = 1541))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = JBTA1)));Provider=OraOLEDB.Oracle;User Id= XXCUST01;Password=XXCUST01;" />
    <add name="ReportsEntities" connectionString="metadata=res://*/Models.ReportDB.csdl|res://*/Models.ReportDB.ssdl|res://*/Models.ReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=Reports;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=HHSQLDB;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=HHSQLDB;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallAgentDBEntitiesnew" connectionString="metadata=res://*/Models.ModelCallAgent.csdl|res://*/Models.ModelCallAgent.ssdl|res://*/Models.ModelCallAgent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=CallAgentDB;persist security info=True;user id=sqlAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFuionHHSQLDBEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.csdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=HHSQLDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFusionReportsEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionReports.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL05;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--Azure Prod Configuration-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="EntitiesOracle1" connectionString="Provider=OraOLEDB.Oracle;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False"/>
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False"/>
    <add name="ReportsDbconnectionstring" connectionString="Data Source = JBMAZSQL01; Initial Catalog = Reports; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true"/>
    <add name="CallAgentDbconnectionstring" connectionString="Data Source = JBMAZSQL01; Initial Catalog = CallAgentDB; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true"/>
    <add name="ColdFusionReportsDbconnection" connectionString="data source=JBMAZSQL01;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=true;"/>
    <add name="ColdFusionReportsEntitiesOracle" connectionString="Data Source=(description= (retry_count=3)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=wpyxtzv5.adb.us-ashburn-1.oraclecloud.com))(connect_data=(service_name=ge513ad7c083309_jandbatpprod_high.adb.oraclecloud.com))(security=(ssl_server_cert_dn=CN=adwc.uscom-east-1.oraclecloud.com, OU=Oracle BMCS US, O=Oracle Corporation, L=Redwood City, ST=California, C=US)));User Id= FUSION; Password=OrAcLeATP@$#1605!; connection Timeout = 300"/>
    <add name="OracleConnection" connectionString="Data Source=(description= (retry_count=3)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=wpyxtzv5.adb.us-ashburn-1.oraclecloud.com))(connect_data=(service_name=ge513ad7c083309_jandbatpprod_high.adb.oraclecloud.com))(security=(ssl_server_cert_dn=CN=adwc.uscom-east-1.oraclecloud.com, OU=Oracle BMCS US, O=Oracle Corporation, L=Redwood City, ST=California, C=US)));User Id= FUSION; Password=OrAcLeATP@$#1605!; connection Timeout = 300"/>
    <add name="ReportsEntities" connectionString="metadata=res://*/Models.ReportDB.csdl|res://*/Models.ReportDB.ssdl|res://*/Models.ReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL01;initial catalog=Reports;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL01;initial catalog=HHSQLDB;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL01;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="HHSQLDBEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL01;initial catalog=HHSQLDB;user id=sqlappuser;password=$Ql@pp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jbmazsql10.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CallAgentDBEntitiesnew" connectionString="metadata=res://*/Models.ModelCallAgent.csdl|res://*/Models.ModelCallAgent.ssdl|res://*/Models.ModelCallAgent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL01;initial catalog=CallAgentDB;persist security info=True;user id=sqlAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ColdFuionHHSQLDBEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.csdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL01;initial catalog=HHSQLDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ColdFusionReportsEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionReports.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMAZSQL01;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!-- Uncomment for test configuration -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesOracle1" connectionString="Provider=OraOLEDB.Oracle;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="ReportsDbconnectionstring" connectionString="Data Source = JBMMIDEVSQL001\TEST; Initial Catalog = Reports; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="CallAgentDbconnectionstring" connectionString="Data Source = JBMMIDEVSQL001\TEST; Initial Catalog = CallAgentDB; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="ColdFusionReportsDbconnection" connectionString="data source=jbmmidevsql001\test;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=true;" />
    <add name="ColdFusionReportsEntitiesOracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = nchljandbdb01.jandbmedical.com)(PORT = 1541))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = JBTA1)));Provider=OraOLEDB.Oracle;User Id= XXCUST01;Password=XXCUST01;" />
    <add name="ReportsEntities" connectionString="metadata=res://*/Models.ReportDB.csdl|res://*/Models.ReportDB.ssdl|res://*/Models.ReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=Reports; User Id = sqlappuser; Password = $Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=HHSQLDB_Pharmacy;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=HHSQLDB_Pharmacy;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallAgentDBEntitiesnew" connectionString="metadata=res://*/Models.ModelCallAgent.csdl|res://*/Models.ModelCallAgent.ssdl|res://*/Models.ModelCallAgent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=CallAgentDB;persist security info=True;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFuionHHSQLDBEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.csdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=HHSQLDB_Pharmacy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFusionReportsEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionReports.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jbmmidevsql001\test;initial catalog=Reports;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFusionIntranetEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionIntranet.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionIntranet.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionIntranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=Intranet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!-- Uncomment for Dev configuration -->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-USPS_Report-20150320122427.mdf;Initial Catalog=aspnet-USPS_Report-20150320122427;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EntitiesOracle1" connectionString="Provider=OraOLEDB.Oracle;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="EntitiesOracle" connectionString="Provider=MSDAORA.1;User ID=RO_CUSTOM;password=CU57jbga; Data Source = JBPA; Persist Security Info=False" />
    <add name="ReportsDbconnectionstring" connectionString="Data Source = JBMWIXSQL01\Dev; Initial Catalog = Reports; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="CallAgentDbconnectionstring" connectionString="Data Source = JBMMIDEVSQL001\TEST; Initial Catalog = CallAgentDB; User Id = sqlappuser; Password = $Ql@pp1;MultipleActiveResultSets=true" />
    <add name="ColdFusionReportsDbconnection" connectionString="data source=JBMWIXSQL01\Dev;initial catalog=Reports;integrated security=True;MultipleActiveResultSets=true;" />
    <add name="ColdFusionReportsEntitiesOracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = nchljandbdb01.jandbmedical.com)(PORT = 1541))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = JBTA1)));Provider=OraOLEDB.Oracle;User Id= XXCUST01;Password=XXCUST01;" />
    <add name="ReportsEntities" connectionString="metadata=res://*/Models.ReportDB.csdl|res://*/Models.ReportDB.ssdl|res://*/Models.ReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=Reports; User Id = sqlappuser; Password = $Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=HHSQLDB;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntranetEntities" connectionString="metadata=res://*/Intranet.csdl|res://*/Intranet.ssdl|res://*/Intranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=Intranet;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HHSQLDBEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=HHSQLDB;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JBInteractivewebDBEntities" connectionString="metadata=res://*/IntractiveWeb.csdl|res://*/IntractiveWeb.ssdl|res://*/IntractiveWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=x1nfnyrrzo.database.windows.net;initial catalog=JBInteractivewebDB;persist security info=True;user id=SQLAgent@x1nfnyrrzo;password=d!etc0ke;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CallAgentDBEntitiesnew" connectionString="metadata=res://*/Models.ModelCallAgent.csdl|res://*/Models.ModelCallAgent.ssdl|res://*/Models.ModelCallAgent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMMIDEVSQL001\TEST;initial catalog=CallAgentDB;persist security info=True;user id=SQLAppUser;password=$Ql@pp1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFuionHHSQLDBEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.csdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFuionHHSQLDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=HHSQLDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFusionReportsEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionReports.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionReports.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=Reports;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ColdFusionIntranetEntities" connectionString="metadata=res://*/Areas.ColdFusionReports.Models.ColdFusionIntranet.csdl|res://*/Areas.ColdFusionReports.Models.ColdFusionIntranet.ssdl|res://*/Areas.ColdFusionReports.Models.ColdFusionIntranet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBMWIXSQL01\Dev;initial catalog=Intranet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="StateAuditFolderDirectory" value="\\jbmwix-azfs01\IT\IntranetDocuments\StateAudit$\Files\MI State Audit Reports\"/>
    <add key="Wallet_location" value="\\Jbmazweb01\e$\ATPWallet"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" executionTimeout="900"/>
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <!--<system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 819B3918-2747-43AE-9D18-33582A5AEF2F-->