@model USPS_Report.Areas.Reports.Models.RwosViewModel

@using Kendo.Mvc.UI;

@{
    ViewBag.Title = "RWOsOlderDatesReportData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="viewQOHData" class="well col-md-12">
    @using (Ajax.BeginForm("RWOsOlderDatesReportData", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "viewData", InsertionMode = InsertionMode.Replace }))
    {
        <div class="well">
            <div class="form-inline">
                <form id="CMNReportingForm" data-role="validator" novalidate="novalidate">
                    <label>LookUp RWO's By Account </label>
                    @Html.TextBoxFor(model => model.AccountToSearch, new { id = "monthpicker" })
                    @*<input type="date" value="@Model.pickedDate" id="monthpicker" title="date" />*@

                    <button class="btn btn-primary btn-large" type="submit"><i class="glyphicon glyphicon-search"> View</i></button>
                </form>
            </div>
        </div>
        <div class="well col-md-12">
            @(Html.Kendo().Grid<USPS_Report.Areas.Reports.Models.RwosViewModel>()
                        .Name("RwosNextRepeatDate")
                        .Scrollable()
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Account).Title("Account").Width(200);
                            columns.Bound(c => c.NextRepeatDate).Title("Next Repeat Date").Width(200);
                            columns.Bound(c => c.ProductCode).Title("Product").Width(200);
                            columns.Bound(c => c.CreatedBy).Title("Created By").Width(200);
                            columns.Bound(c => c.CreateDate).Title("Created Date").Width(200);
                            columns.Bound(c => c.ChangedBy).Title("Changed By").Width(200);
                            columns.Bound(c => c.LastChange).Title("Last Change").Width(200);
                        })
                            .ToolBar(tools => tools.Excel())
                            .Sortable()
                             .Pageable()
                                 .Filterable(ftb => ftb.Mode(GridFilterMode.Menu))
                           .Excel(excel => excel
                                .FileName("RwoswithOlderDates.xlsx")
                                .AllPages(true)
                                .Filterable(true)
                                .ProxyURL(Url.Action("Excel_Export_Save", "RWOsOlderDates"))
                            )
                           .HtmlAttributes(new { style = "width:470px;" })
                                .Reorderable(r => r.Columns(true))
                                .Resizable(r => r.Columns(true))
                                .ColumnMenu()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(200)
                            .ServerOperation(true)
                            .Read(read => read.Action("ReadRWOsOlderDatesDetails", "RWOsOlderDates", Model))
                        )
                        .HtmlAttributes(new { style = "height: 750px;" })
            )
        </div>
    }
    @*@Html.Partial("GetExpiringCMNDetails", Model.ExpiringCMNDetails)*@
</div>

